@{
    ViewData["Title"] = "Passo";
}

<head>
    <link rel="stylesheet" href="~/css/menu.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<ul class="head">
    <li> <a asp-controller="Login" asp-action="Logout">Back</a></li>
    <li style="float:right"><a class="active">@ViewData["username"]</a></li>
</ul>

@{
    var receita = (Receita)ViewData["receita"];
    var passo = (Passo)ViewData["passo"];
    var next = (Passo)ViewData["next"];
    var previous = (Passo)ViewData["previous"];
    var ingredientes = (List<Ingrediente>)ViewData["ingredientes"];
    var recursos = (List<Recurso>)ViewData["recursos"];
}

<div class="container-fluid">
    <h1>@(receita.titulo)</h1>
    <div class="row">
        <div class="col-sm-6">
            <b>@(passo.titulo)</b>
            @foreach (var i in ingredientes) {
                <li class="list-item" style="margin-left: 2.5em;">@(i.nome) - @(i.valor) @(i.unidade)</li>
            }
            @foreach (var r in recursos)
            {
                switch (r.tipo) {
                    case 0:
                        <iframe class="embed-responsive-item" src="@(r.Video.ficheiro)"></iframe>
                        break;
                    case 1:
                        <img src="@(r.Imagem.ficheiro)"/>
                        break;
                    case 2:
                        <li>@(r.Descricao.texto)</li>
                        break;
                    case 3:
                        <a href=@(r.Hiperligacao.url)>@(r.Hiperligacao.url)</a>
                        break;
                }
            }
        </div>

        <div class="col-sm-6">
            @if (previous != null) {
                <a href="/api/Passo/@(previous.id)">Previous</a>
            }
            <button type="button" name="button" class="repetir" style="float: right">Repeat</button>
            @if (next != null) {
                <a href="/api/Passo/@(next.id)">Next</a>
            }

        </div>
    </div>
</div>
